{% extends 'base.html' %}

{% block content %}
{% include 'title.html' %}

<div class="mx-auto mt-10 text-gray-600
	    w-10/12
	    lg:w-2/3
	    ">
  <form action="/votes" method="post">


    <div class="grid
		grid-cols-2
		xl:gap-x-12
		">


      <div class="bg-blue mb-10 grid
		  col-span-full
		  lg:grid-cols-6
		  xl:col-span-1
		  ">
	<label class="text-3xl
		      ml-3 mb-2
		      col-span-full
		      lg:col-span-2 lg:mt-2 lg:ml-0 lg:mb-0
		      ">
	  SmartContract:
	</label>
	<a href="{{data.addressLink}}"
	   class=" bg-white h-14 rounded-full text-2xl focus:outline-none hover:bg-blue-300
		  col-span-full
		  lg:col-span-4
		  ">
	  <input name="address"
		 type="text"
		 readonly
		 placeholder="{{data.address}}"
		 class="bg-white h-14 px-5 pr-10 w-full rounded-full text-2xl focus:outline-none bg-opacity-0 focus:placeholder-red-500
			">
	</a>
      </div>


      <div class="bg-blue grid
		  col-span-full
		  lg:grid-cols-6
		  xl:col-span-1
		  ">
      </div>


      <div class="bg-blue mb-10 grid
		  col-span-full
		  lg:grid-cols-6
		  xl:col-span-1
		  ">
	<label class="text-3xl
		      ml-3 mb-2
		      col-span-full
		      lg:col-span-2 lg:mt-2 lg:ml-0 lg:mb-0
		      ">
	  Ende:
	</label>
	<input name="dateTimeClosing"
	       type="text"
	       readonly
	       placeholder="{{data.dateTimeClosing}}"
	       class="bg-white h-14 px-5 pr-10 rounded-full text-2xl focus:outline-none
		      col-span-full
		      lg:col-span-4
		      ">
      </div>


      <div class="bg-blue mb-10 grid
		  col-span-full
		  lg:grid-cols-6
		  xl:col-span-2
		  ">
	<label class="text-3xl
		      ml-3 mb-2
		      col-span-full
		      lg:col-span-2 lg:mt-2 lg:ml-0 lg:mb-0
		      xl:col-span-1
		      ">
	  Frage:
	</label>
	<input name="question"
	       type="text"
	       readonly
	       placeholder="{{data.question}}"
	       class="bg-white h-14 px-5 pr-10 rounded-full text-2xl focus:outline-none
		      col-span-full
		      lg:col-span-4
		      xl:col-span-5 xl:-ml-2
		      ">
      </div>


      <div class="col-span-full">
	<h2 class=" font-bold text-4xl text-gray-600 mt-16 mb-4">
	  <p class="inline-block">Antwort:</p>
	</h2>
      </div>


      <div class="bg-blue mb-10 grid
		  col-span-full
		  lg:grid-cols-6
		  xl:col-span-1
		  ">
	<div class="mt-1">
	  <label class="inline-flex items-center">
            <input type="radio" class="form-radio h-8 w-8" name="result" value="true">
            <span class="ml-4 text-3xl">Zustimmen</span>
	  </label>
	</div>
      </div>


      <div class="bg-blue mb-10 grid
		  col-span-full
		  lg:grid-cols-6
		  xl:col-span-1
		  ">
	<div class="mt-1">
	  <label class="inline-flex items-center">
            <input type="radio" class="form-radio h-8 w-8" name="result" value="false">
            <span class="ml-4 text-3xl">Ablehnen</span>
	  </label>
	</div>
      </div>

      <div class="col-span-full grid grid-cols-12">
	<button type="submit"
		class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mb-16
		       col-span-3 col-start-9
		       lg:col-span-2 lg:col-start-11
		       xl:col-span-1 xl:col-start-12 xl:mt-40
		       ">Abstimmen</button>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
