{% extends 'base.html' %}

{% block content %}
{% include 'partials/title.html' %}

<table class="border-collapse w-small mx-auto w-2/3">
  <thead>
    <tr>
      <th class="p-3 font-bold bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Title</th>
      <th class="p-3 font-bold bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">SmartContract</th>
      <th class="p-3 font-bold bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Abgeschlossen</th>
      <th class="p-3 font-bold bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Abstimmen</th>
    </tr>
  </thead>
  <tbody id="ballot-results">
    {% include 'partials/table.html' %}
  </tbody>
</table>
{% endblock content %}
